extends layout

block content
    nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          a.navbar-brand Pooch Madness!
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.navbar-right
            li.signup-btn
              if name
                Hi #{name}
                  a.btn-lg.btn-primary(href='/signout') Sign out
              else
                a.btn-lg.btn-primary(href='/signup') Sign up

    .match.container
      .row.dogs
        each dog in dogs
          .col-lg-4.col-md-4
              .panel.panel-info
                  .panel-heading
                      h1.panel-title= dog.name
                  .panel-body(style="background-image: url('"+dog.image+"')")

